parameters:
    level: max
    paths:
        - src/
        - tests/
    editorUrl: '%%file%%:%%line%%'
    checkGenericClassInNonGenericObjectType: false
    checkExplicitMixed: false
    ignoreErrors:
        - '/Cannot call method present\(\) on Urichy\\Core\\Presenter\\PresenterInterface\|null\./'
        - '/Parameter \#1 \$json of function json_decode expects string, string\|false given\./'
